.wrapper {
    display: flex;
    align-items: stretch;
    height: 100%;
    position: relative;
    overflow: hidden;
}

#sidebar {
    min-width: 250px;
    max-width: 250px;
    background-color: black;
    height: 100%;
}

#navbar-spacer {
    padding-top: 50px;
}
body{
    background-color: #F0F0F0;
}